a{
    text-align: center;
}

#enlace1 {
    display: inline-block;
    width: 20%;
    background-color: lightcoral;
}

#enlace2 {
    display: inline-block;
    width: 20%;
    background-color: aqua;
}

#enlace3 {
    display: inline-block;
    width: 20%;
    background-color: lightgreen;
}

#barra_enlaces{
    text-align: center;
}