main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
}

div:nth-child(even){
    background-color: tomato;
}

div:nth-child(odd){
    background-color: yellowgreen;
}

#div2{
    background-color: yellow;
    border: 5px solid black;
    padding: 2px;
}

#div6{
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    /* grid-column: 2 / span 2; */
}

#div1{
    background-color: violet;
    /* grid-row: 3 / 5; */
    grid-row: 3 / span 3;
}

