<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Plantilla Persona</title>
</head>
<body>
  <h1><%= name %></h1>
  <p>Edad: <%= age %></p>
  <h2>Coches:</h2>
  <ul>
   <% for (coche of cars){ %>
    <li><%= coche %></li>
   <% } %>
  </ul>
</body>
</html>