*{
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
}

#listaTareas > li > img{
    width: 15px;
    padding-left: 3px;
}

#listaTareas > li > span{
    display: inline-block;
    width: calc( 100% - 30px );
}
#listaTareas>li{
    padding: 5px;
    list-style: none;
}


#listaTareas > li:hover {
    background-color: #ff000032;

}
