body{
    display: grid;
    grid-template-areas: 
     'a h h h'
     'a m m m'
     'f f f f';
    height: 95vh;
}

aside ul{
    list-style: none;
    padding:10px;
    margin:0;
}

header{
    grid-area: h;
    border-style: solid;
}

aside{
    grid-area: a;
    border-style: solid;
}

main{
    grid-area: m;
    border-style: solid;
}





footer{
    grid-area: f;
    border-style: solid;
}