*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imgMenu{
    width: 30px;
    padding: 5px;
}

#menu{
    border-right: 1px solid black;
}

#listaMenu > li > img{
    width: 30px;
}

#listaMenu > li > span{
    line-height: 30px;
    vertical-align: top;
    display: none;
}
